#page{
	width:800px;
	padding:50px 20px 50px 20px;
	margin:0 auto;
	min-height:700px;
}
nav.home {
	float:right;
}
ul.core-bullets {
	margin:0 auto;
}
ul.no-more {
	list-style: none;
}
.marg_top_15 {
	margin-top:15px;
}
.w_75pct {
	width:75%;
}
.centered {
	text-align: center;
	margin:0 auto;
}
.tileish {
	border:1px solid #DDD;
	box-shadow: 0 0 10px 0 #DDD;
	border-radius:10px;
	padding-bottom:25px;
}
input[type="text"],
input[type="password"] {
	border:5px;
}