#page {
	margin-top:25px;
}
input[name="password"]{
	margin-top:10px;
}
button[type="submit"]
{
	margin-top:10px;
	margin-bottom:10px;
}
div.split{
	color:#666;
	font-size:30px;
	width:100%;
	text-align: center;
	margin-top:20px;
	margin-bottom: 20px;
}

.btn[type="submit"]
{
	position:relative;
	top:-2px;
}