.title-tile {
	margin-bottom:50px;
}
.btn-primary {
	position:relative;
	top:-2px;
}
input{
	margin-left:5px;
}
#password-verification {
	margin-left:0px;
	margin-right:5px;
}
button[type="submit"]
{
	margin-top:10px;
	margin-bottom:10px;
}

.verification-enter {
  opacity: 0.01;
}

.verification-enter.verification-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.verification-leave {
  opacity: 1;
}

.verification-leave.verification-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}